@import url(https://fonts.googleapis.com/css?family=Damion);
 * {
	 box-sizing: border-box;
	 font-weight: normal;
}


body{
    margin: 0;
    padding: 0;
    background: black;

}
.bday{
    margin-top: 80px;
    text-align: center;
    background: linear-gradient(180deg,#f80112 0%,#2602f5 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size:120px;
    font-family: bday;    
}
.name{
    margin-left: 450px;
    padding-right:120px ;
    margin-top: 60px;
    text-align: center;
    background: linear-gradient(180deg,#f80112 0%,#2602f5 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 100px;
    display:inline-block ;
   font-family: bday;
}
.name:hover{
    -webkit-box-reflect: below -8px -webkit-gradient(linear,right top, right bottom,from(transparent),color-stop(85%,transparent),to(rgba(42,99,99,1)));
}

 /* body {
	 font-family: 'Damion', cursive;
	 background: #fbefec;
	 background: -moz-radial-gradient(center, ellipse cover, rgba(251, 239, 236, 1) 0%, rgba(218, 180, 180, 1) 100%);
	 background: -webkit-radial-gradient(center, ellipse cover, rgba(251, 239, 236, 1) 0%, rgba(218, 180, 180, 1) 100%);
	 background: radial-gradient(ellipse at center, rgba(251, 239, 236, 1) 0%, rgba(218, 180, 180, 1) 100%);
	 height: 100vh;
	 overflow: hidden;
} */
 /* body .birthday .add {
	 margin-top: 40px;
	 clear: both;
	 font-family: 'Damion', cursive;
	 background: transparent;
	 border: 2px solid #e77572;
	 color: #e77572;
	 font-size: 22px;
	 padding: 14px 28px;
	 border-radius: 40px;
	 transition: all 0.23s;
	 outline: none;
	 cursor: pointer;
} */
 body .birthday .add:hover {
	 background: #e77572;
	 color: white;
}
 body .birthday_inner__modal {
	 width: 500px;
	 position: absolute;
	 left: 0;
	 right: 0;
	 transition: all 0.4s;
	 margin: auto;
	 text-align: center;
	 top: 50%;
	 transform: translateY(-50%) scale(0);
	 background: white;
	 border-radius: 20px;
	 z-index: 2;
	 padding: 40px 40px 100px 40px;
	 box-shadow: 0px 3px 10px 0px #e5b4b2;
}
 body .birthday_inner__modal .modal_image {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 transform: translateY(-60%);
}
 body .birthday_inner__modal .modal_image img {
	 width: 100px;
}
 body .birthday_inner__modal h1 {
	 color: #e77572;
	 margin: 0;
}
 body .birthday_inner__modal p {
	 font-family: 'georgia';
	 font-size: 13px;
	 color: #b9918e;
}
 body .birthday_inner__modal button {
	 background: #e77572;
	 color: white;
	 outline: none;
	 padding: 20px 20px 20px 20px;
	 border: none;
	 width: 100%;
	 font-size: 20px;
	 font-family: 'Damion', cursive;
	 position: absolute;
	 left: 0;
	 right: 0;
	 bottom: 0px;
	 -webkit-transition: all 0.2s;
	 transition: all 0.2s;
	 cursor: pointer;
	 border-bottom-right-radius: 20px;
	 border-bottom-left-radius: 20px;
}
 body .birthday_inner__modal button:hover {
	 background: #e3605c;
}
 body .birthday_inner .stage1 {
	 display: block;
}
 body .birthday_inner__stage {
	position: absolute;
	margin-bottom: 500px;
	 width: 600px;
	 position: absolute;
	 left:0;
	 right:  300px;
	 margin: auto;
	 bottom: 1100px;
	 text-align: center;
	 top: 50%;
	 
	 transform: translateY(-50%);
}
 body .birthday_inner__stage h1 {
	 color: #e77572;
	 margin-bottom: 200px;
}
 body .birthday_inner__stage h2 {
	 font-family: 'georgia';
	 font-size: 12px;
	 color: #b9918e;
	 line-height: 18px;
	 margin: 0;
}
audio{
	
	width: 100px;
	height: 50px;
}
img{
	
	width: 100%;
	height: 100%;
}
.main-wrapper img{
	width: 100%;
}
.main-wrapper p{
	position: absolute;
	top: 30px;
	left: 500px;
	font-size: 120px;
	
	font-size: 50px;
}.main-wrapper a{
	position: absolute;
	top: 100px;
	left: 150px;
	margin-top: 100px;
	font-size: 60px;
}
 @keyframes in {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 @keyframes moveup {
	 from {
		 top: 0;
	}
	 to {
		 top: -30px;
	}
}
 @keyframes mix {
	 0% {
		 transform: translateX(0px);
	}
	 50% {
		 transform: translateX(28px);
	}
	 100% {
		 transform: translateX(0px);
	}
}
 @keyframes candle {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 

.gallery{
	margin-left: auto;
	margin-bottom: 100px;
	text-align: initial;
	position:relative;
	width:168px;
	height:231px;
	transform-style:preserve-3d;
	animation:rotate 35s linear infinite;
  }
  
  @keyframes rotate{
	from{
	  transform:perspective(1200px) rotateY(0deg);
	}
	
	to{
	  transform:perspective(1200px) rotateY(360deg);
	}
  }
  
  .gallery span{
	position:absolute;
	width:100%;
	height:100%;
	transform-origin:center;
	transform-style:preserve-3d;
	transform:rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }
  
  .gallery span img{
	position:absolute;
	width:100%;
	height:100%;
	object-fit:cover;
  }
  @font-face {
    font-family: bday;
    src: url(bday.TTF);
}